*.user
*.cache
*.ncb
*.suo
*.ri
**/bin/*
**/obj/*
packages/*
**/.vs/*
**/App.debug.config
**/*.sln.dotsettings
**/*.lock.json
**/Report
**/coverage.json
**/coverage.cobertura.xml
**/*.coverage
**/*.nupkg
**/*.snupkg
